@font-face {
  font-family: 'Star Jedi';
  src: url('/fonts/Starjedi.woff2') format('woff2'),
       url('/fonts/Starjedi.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} 